.ui.comments {
    max-width: 100%;
}

.ui.button{
    background-color: #800000;
    color: white;
}

#commentBox{
    width: 100% !important;
}

.ui.button:hover{
    background-color: #400000;
    color: white;
}

.stars{
    padding-top: 0px!important;
}

.ui.label:hover{
    background-color: lightgrey;
}

.tagsRow {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.ui.button:focus{
    background-color: #600000;
    color: white;
    
}

.Link {
    font-size: 13pt;
    font-weight: bold;
    color: #800000;
}
.Link:hover {
    font-size: 13pt;
    font-weight: bold;
    color: #800000;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.concertData {
    font-size: 14pt;
}

.usersName {
    font-size: 20pt;
}

#profilePage {
    margin-top: 1em;
}

.headd {
    width: 100%;
    height: 100px;
    background-color: #800000;
}

.start {
    margin-top: 100px;
}
