/* You can add global styles to this file, and also import other style files */




/* Sidebar */

#sidebar {
float: right;
width: 260px;
margin: 0px;
padding: 40px;
background: #F0F0F0;
border-radius: 7px;
}

#sidebar ul {
margin: 0;
padding: 0;
list-style: none;
}

#sidebar li {
margin: 0;
padding: 0;
}

#sidebar li ul {
margin: 0px 0px;
padding-bottom: 30px;
}

#sidebar li li {
line-height: 40px;
border-bottom: 1px solid #E7EBED;
margin: 0px 0px;
border-left: none;
}

#sidebar li li span {
display: block;
margin-top: -20px;
padding: 0;
font-size: 11px;
font-style: italic;
}

#sidebar li li a {
padding: 0px 0px 0px 20px;
/*background: url(images/img04.jpg) no-repeat left 50%;*/
}

#sidebar h2 {
height: 38px;
padding: 0px 0px 30px 0px;
letter-spacing: -.5px;
font-size: 1.8em;
color: #222222;
}

#sidebar p {
margin: 0 0px;
padding: 0px 30px 20px 30px;
text-align: justify;
}

#sidebar a {
border: none;
}

#sidebar a:hover {
text-decoration: underline;
}

/* Footer */

#footer {
height: 140px;
margin: 0 auto;
padding: 10px 0 10px 0;
background: #B50D0D;
}

#footer p {
margin: 0;
padding-top: 10px;
letter-spacing: 1px;
line-height: normal;
text-align: center;
color: #E87B7B;
}

#footer a {
color: #FFBDBD;
}

#banner {
margin: 0px auto;
width: 1000px;
height: 440px;

}

#banner .content {
}

.list-style1 {
margin: 0px;
padding: 0px;
list-style: none;
}

.list-style1 a {
color: #7F7F7F;
}


#featured-content {
overflow: hidden;
width: 500px;
margin-left: 200px;
margin-top: -100px;
padding: 0px 0px 30px 0px;
text-align: left;

}




.button a {
display: block;
float: left;
width: 88px;
padding: 5px 5px;
margin-right: 10px;
background: #B50D0D;
border-radius: 5px;
color: #FFFFFF;
text-align: center;
text-decoration: none;
}