.ui.button{
    background-color: #800000;
    color: white;
}

.ui.button:hover{
    background-color: #400000;
    color: white;
}

.ui.button:focus{
    background-color: #600000;
    color: white;
    
}