<head>
    <!--meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <form class="form-wrapper cf">
        <input type="text" placeholder="Search for a Concert or User" required>
        <button type="submit">Search</button>
    </form>
    <title>Main Page</title>
    <{% load staticfiles %}>
    <link href="{% 'app.component.css' %}" rel="stylesheet" type="text/css" /-->
    </head>
    <body>
    <div id="wrapper">    
      <div id="page">
        <div id="content">
          <div class="post">
            <h2 class="title"><a href="#">Welcome to LookingForConcerts </a></h2>
            <div class="entry">
              
              <p>This is <strong>Looking For Concerts</strong>, a free application for concert lovers from all around the world. So let's join us and enjoy
                interactive concert world. </p>

            </div>
          </div>
        </div>
    
        <div id="sidebar">
          <ul>
            <li>
              <h2>Categories</h2>
              <ul>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Upcoming Events</a></li>
                <li><a href="#">Advanced Search</a></li>
                <li><a href="#">Create an Event</a></li>
              </ul>
            </li>
          </ul>
        </div>
    
        <div id="featured-content">
         <li *ngFor="let con of concert" style=" list-style-type: none; ">
                
        <div id="column1">
          <h2><br>{{con.name}} {{con.date_time}}</h2>
          
          <p>{{con.description}}</p>
          <p class="links"><a [routerLink]="['/concert', con.concert_id]" class="more">Read More</a><a [routerLink]="['/concert', con.concert_id]" title="b0x" class="comments">Comments</a></p>
        </div>
      
        </li>
      </div>
    
      <div id="footer">
      <p>&copy; All rights reserved.</p>
      </div>
    </div>