
   .form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 150px auto 50px auto;
    border-radius: 10px;
    position:absolute;
    top:-150px;
    right:0px;
}

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    border-radius: 3px 0 0 3px;      
}



.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}



   

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #1E90FF;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
  


.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #1E90FF transparent;
    top: 12px;
    left: -6px;
}





body {
margin: 0;
padding: 0;
background: #FFFFFF;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
color: #5B5B5B;
}

h1, h2, h3 {
margin: 0;
padding: 0;
font-weight: normal;
font-weight: 200;
color: #222222;
}

h1 {
font-size: 2em;
}

h2 {
font-size: 2.8em;
}

h3 {
font-size: 1.6em;
}

p, ul, ol {
margin-top: 0;
line-height: 180%;
}

ul, ol {
}

a {
color: #B50D0D;
}

a:hover {
text-decoration: none;
}

#wrapper {
padding-bottom: 50px;
}

.container {
width: 1000px;
margin: 0px auto;
}

/* Header */

#header-wrapper {
overflow: hidden;
height: 120px;
background: #B50D0D;
}

#header {
overflow: hidden;
width: 1000px;
height: 120px;
margin: 0 auto;
padding: 0px 0px;
}

/* Logo */

#logo {
float: left;
width: 500px;
margin: 0;
padding: 0;
color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
line-height: 120px;
letter-spacing: -2px;
font-size: 3em;
}

#logo h1 a {
color: #FFFFFF;

}

#logo p {
margin: 0;
padding: 0px 0 0 0px;
letter-spacing: -1px;
font: normal 18px Georgia, "Times New Roman", Times, serif;
font-style: italic;
color: #8E8E8E;
}

#logo p a {
color: #8E8E8E;
}

#logo a {
border: none;
background: none;
text-decoration: none;
color: #12212F;
}

/* Menu */

#menu {
float: right;
width: 500px;
height: 90px;
margin: 0 auto;
padding: 0;
}

#menu ul {
float: right;
margin: 0;
padding: 50px 0px 0px 0px;
list-style: none;
line-height: normal;
}

#menu li {
float: left;
padding: 0px 0px 0px 0px;
}

#menu a {
display: block;
margin-right: 1px;
padding: 10px 20px 10px 20px;
text-decoration: none;
text-align: center;
font-size: 13px;
font-weight: 300;
color: #FFFFFF;
border: none;
}

#menu a:hover, #menu .current_page_item a {
text-decoration: none;
color: #FFFFFF;
}

#menu .current_page_item a {
background: #690606;
border-radius: 5px;
}

/* Page */

#page {
width: 1000px;
margin: 0 auto;
padding: 60px 0px 0px 0px;
background: #FFFFFF;
}

/* Content */

#content {
float: left;
width: 600px;
padding: 0px 0px 0px 0px;
}

.post {
overflow: hidden;
margin-bottom: 40px;
}

.post .title {
padding: 7px 0px 40px 0px;
letter-spacing: -1px;
}

.post .title a {
border: none;
text-decoration: none;
color: #222222;
}

.post .meta {
margin-bottom: 30px;
padding: 10px 0px 0px 0px;
text-align: left;
font-family: 'Abel', sans-serif;
font-size: 16px;
font-weight: 300;
}

.post .meta .date {
float: left;
}

.post .meta .posted {
float: right;
}

.post .meta a {
}

.post .entry {
padding: 0px 0px 40px 0px;
text-align: justify;
}

.links {
padding-top: 20px;
margin-bottom: 30px;
}

.more {
display: block;
float: left;
width: 88px;
padding: 5px 5px;
margin-right: 10px;
background: #B50D0D;
border-radius: 5px;
color: #FFFFFF;
text-align: center;
text-decoration: none;
}

.comments {
display: block;
float: left;
width: 88px;
padding: 5px 5px;
background: #B50D0D;
border-radius: 5px;
color: #FFFFFF;
text-align: center;
text-decoration: none;
}

/* Sidebar */

#sidebar {
float: right;
width: 260px;
margin: 0px;
padding: 40px;
background: #F0F0F0;
border-radius: 7px;
}

#sidebar ul {
margin: 0;
padding: 0;
list-style: none;
}

#sidebar li {
margin: 0;
padding: 0;
}

#sidebar li ul {
margin: 0px 0px;
padding-bottom: 30px;
}

#sidebar li li {
line-height: 40px;
border-bottom: 1px solid #E7EBED;
margin: 0px 0px;
border-left: none;
}

#sidebar li li span {
display: block;
margin-top: -20px;
padding: 0;
font-size: 11px;
font-style: italic;
}

#sidebar li li a {
padding: 0px 0px 0px 20px;
}

#sidebar h2 {
height: 38px;
padding: 0px 0px 30px 0px;
letter-spacing: -.5px;
font-size: 1.8em;
color: #222222;
}

#sidebar p {
margin: 0 0px;
padding: 0px 30px 20px 30px;
text-align: justify;
}

#sidebar a {
border: none;
}

#sidebar a:hover {
text-decoration: underline;
}

/* Footer */

#footer {
height: 140px;
margin: 0 auto;
padding: 10px 0 10px 0;
background: #B50D0D;
}

#footer p {
margin: 0;
padding-top: 10px;
letter-spacing: 1px;
line-height: normal;
text-align: center;
color: #E87B7B;
}

#footer a {
color: #FFBDBD;
}

#banner {
margin: 0px auto;
width: 1000px;
height: 440px;

}

#banner .content {
}

.list-style1 {
margin: 0px;
padding: 0px;
list-style: none;
}

.list-style1 a {
color: #7F7F7F;
}


#featured-content {
overflow: hidden;
width: 500px;
margin-left: 60px;
margin-top: -100px;
padding: 0px 0px 30px 0px;
text-align: left;

}




.button a {
display: block;
float: left;
width: 88px;
padding: 5px 5px;
margin-right: 10px;
background: #B50D0D;
border-radius: 5px;
color: #FFFFFF;
text-align: center;
text-decoration: none;
}